<launch>
  <!-- delete old parameters -->
  <!-- <rosparam command="delete" param="/laser_filter"/> -->

  <!-- scan at max_range to less than max_range -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="lidar_range_filter">
    <rosparam command="load" file="$(find team_one)/config/lidar_range_filter.yaml" />
    <remap from="scan" to="scan_speckle" />
    <remap from="scan_filtered" to="scan_range" />
  </node>
</launch>