<launch>
  <!-- delete old parameters -->
  <!-- <rosparam command="delete" param="/laser_filter"/> -->

  <!-- front lidar on -->
  <!-- /laser_f/scan -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="0"/>
    <arg name="pkg" value="rplidar_ros"/>
    <arg name="file" value="rplidar_front.launch"/>
    <arg name="node_name" value="rplidar_front"/>
  </include>

  <!-- rear lidar on -->
  <!-- /laser_r/scan -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="2"/>
    <arg name="pkg" value="rplidar_ros"/>
    <arg name="file" value="rplidar_rear.launch"/>  
    <arg name="node_name" value="rplidar_rear"/>
  </include>

  <!-- lidar dupliate filter -->
  <!-- /laser_f/scan -> /laser_f/scan_filtered -->
  <!-- /laser_r/scan -> /laser_r/scan_filtered -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="4"/>
    <arg name="pkg" value="team_one"/>
    <arg name="file" value="lidar_duplicate_filter.launch"/>
    <arg name="node_name" value="lidar_duplicate_filter"/>
  </include>

  <!-- lidar intensity filter -->
  <!-- /laser_f/scan_filtered -> /laser_f/scan_intensity_valid, /laser_f/scan_intensity_inf -->
  <!-- /laser_r/scan_filtered -> /laser_r/scan_intensity_valid, /laser_r/scan_intensity_inf -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="5"/>
    <arg name="pkg" value="team_one"/>
    <arg name="file" value="lidar_intensity_filter.launch"/>
    <arg name="node_name" value="lidar_intensity_filter"/>
  </include>

  <!-- lidar intensity merge -->
  <!-- /laser_f/scan_intensity_valid, /laser_f/scan_intensity_inf -> /laser_f/scan_intensity -->
  <!-- /laser_r/scan_intensity_valid, /laser_r/scan_intensity_inf -> /laser_r/scan_intensity-->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="6"/>
    <arg name="pkg" value="team_one"/>
    <arg name="file" value="lidar_intensity_merge.launch"/>
    <arg name="node_name" value="lidar_intensity_merge"/>
  </include>

  <!-- lidar merge -->
  <!-- /laser_f/scan_intensity /laser_r/scan_intensity -> scan_all -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="7"/>
    <arg name="pkg" value="team_one"/>
    <arg name="file" value="lidar_merge.launch"/>
    <arg name="node_name" value="lidar_merge"/>
  </include>

  <!-- lidar range filter -->
  <!-- scan_all -> scan_range -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="8"/>
    <arg name="pkg" value="team_one"/>
    <arg name="file" value="lidar_range_filter.launch"/>
    <arg name="node_name" value="lidar_range_filter"/>
  </include>

  <!-- lidar back filter -->
  <!-- scan_range -> scan -->
  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="9"/>
    <arg name="pkg" value="team_one"/>
    <arg name="file" value="lidar_back_filter.launch"/>
    <arg name="node_name" value="lidar_back_filter"/>
  </include>
</launch>

  
