<launch>

<!-- MoveBaseSeq node launch and Points Sequence ROS Parameters Loading -->

    <!--Run move_base_seqs node-->
        <node pkg="team_one" type="waypoint.py" name="waypoint" output="screen">
        
            <!-- Load Sequence of Points (Cartesian Coordinates wrt "map" RF, in meters) -->
            <!-- p_seq = [x1,y1,z1,x2,y2,z2,...xn,yn,zn]  -->
            <rosparam param="p_seq">[
            <!-- scenario 1 -->

            <!-- end of hall -->
            <!-- info front -->
            <!-- end -->
            <!-- back to init -->
            <!-- 28.379, 9.8297, 0.0, -->
            <!-- -1.9872, 10.6543989182, 0.0, -->
            <!-- 0.4386, -0.0422, 0.0, -->
            <!-- 5.1244, -0.2069, 0.0 -->


            <!-- scenario 2 -->
            <!-- room parking before door -->
            <!-- room parking -->
            <!-- end of hall -->
            <!-- info desk -->
            <!-- end -->
            <!-- back to init -->
            21.74, 9.93, 0.0,
            23.64, 7.729, 0.0,
            28.379, 9.8297, 0.0,
            -2.6192, 14.1985, 0.0,
            0.4386, -0.0422, 0.0,
            5.1244, -0.2069, 0.0
            ]</rosparam>

            <!-- Load Sequence of Desired Yaw Angles (no rotations around x and y axes) in degrees-->
            <!-- yea_seq = [yaw1,yaw2,yaw3] -->
            <rosparam param="quat_seq">[
            <!-- scenario 1 -->

            <!-- end of hall -->
            <!-- info front -->
            <!-- end -->
            <!-- back to init -->
            <!-- 0.0, 0.0, -0.00714210029848, 0.999974494876,
            0.0, 0.0, -1.0, 0.0,
            0.0, 0.0, -0.4780, 0.8783,
            0.0, 0.0, -0.0013, 1.0 -->


            <!-- scenario 2 -->

            <!-- room parking before door -->
            <!-- room parking -->
            <!-- end of hall -->
            <!-- info desk -->
            <!-- end -->
            <!-- back to init -->
            0.0, 0.0, -0.0144, 1.0,
            0.0, 0.0, -0.9920, 0.1261,
            0.0, 0.0, -0.0071, 1.0,
            0.0, 0.0, 0.7071, 0.7071,
            0.0, 0.0, -0.478, 0.878,
            0.0, 0.0, -0.0013, 0.999
            ]</rosparam>

        </node>

</launch>